body {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin: 5px 0px 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin: 0px 0px 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Varela Round', sans-serif;
  color: #848998;
  line-height: 19px;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.header {
  padding-top: 122px;
  padding-bottom: 195px;
  background-image: url('../images/Screen-Shot-2019-07-17-at-10.55.23-PM.png');
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.37), 0 1px 0 rgba(0, 0, 0, 0.49);
}

.bars-wrapper {
  background-color: #3e352a;
}

.bar {
  width: 14.285%;
  height: 15px;
  float: left;
  background-color: #262b2f;
}

.bar._2 {
  background-color: #9d7a59;
}

.bar._3 {
  background-color: #693e23;
}

.bar._4 {
  background-color: #636e81;
}

.bar._5 {
  background-color: #adc3cc;
}

.bar._6 {
  background-color: #6c5c50;
}

.bar._7 {
  background-color: #3e352a;
}

.logo-wrapper {
  margin-bottom: 147px;
}

.logo-icon {
  margin-top: -5px;
  margin-right: 9px;
  float: left;
}

.logo-text {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  font-size: 32px;
  line-height: 31px;
  font-weight: 500;
}

.main-subtitle {
  width: 44%;
  margin-bottom: 46px;
  color: hsla(0, 0%, 100%, 0.79);
  font-size: 17px;
  line-height: 21px;
}

.app-button {
  margin-right: 14px;
  padding: 8px 13px;
  border-radius: 6px;
  background-color: #000;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.app-button:hover {
  background-color: #84a6ba;
}

.app-button.buy {
  margin-right: 0px;
  margin-left: 19px;
  background-color: #5d6779;
}

.app-button.buy:hover {
  background-color: #000;
}

.section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.section.grey {
  background-color: #f0f3f5;
}

.section.grey.buy {
  padding-top: 62px;
  padding-bottom: 62px;
}

.section.map {
  position: relative;
  padding-top: 184px;
  padding-bottom: 184px;
  background-image: url('../images/map.png');
  background-position: 50% 50%;
  background-size: cover;
}

.section.footer {
  padding-top: 57px;
  padding-bottom: 57px;
  background-color: #262b2f;
  color: #b5bbc8;
}

.section.sign-up {
  padding-top: 46px;
  padding-bottom: 46px;
  background-color: #5d6779;
}

.center-title {
  text-align: center;
}

.subtitle {
  margin-bottom: 72px;
  font-size: 16px;
}

.subtitle.location {
  width: 30%;
  margin-bottom: 0px;
  color: hsla(0, 0%, 100%, 0.47);
}

.center {
  text-align: center;
}

.line {
  width: 50px;
  height: 2px;
  margin-top: 42px;
  margin-bottom: 42px;
  background-color: #e1e4e8;
}

.feature-group.push-down {
  margin-bottom: 43px;
}

.push-down-column {
  padding-top: 105px;
}

.image-crop {
  overflow: hidden;
  height: 560px;
  margin-bottom: -110px;
}

.buy-title {
  margin-top: 6px;
  color: #5d6779;
  font-size: 33px;
  font-weight: 300;
}

.align-right {
  text-align: right;
}

.trans-test {
  display: block;
  margin: 7px;
  -webkit-transition: margin 500ms ease;
  transition: margin 500ms ease;
}

.trans-test:hover {
  margin: 16px;
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.location-title {
  color: #fff;
}

.map-icon {
  position: absolute;
  left: 43%;
  bottom: 39%;
}

.footer-left-col {
  padding-top: 8px;
}

.footer-right-col {
  text-align: right;
}

.footer-logo {
  margin-top: -3px;
  margin-right: 11px;
  float: left;
}

.footer-text {
  font-size: 16px;
}

.footer-link {
  width: 40px;
  height: 40px;
  margin-right: 6px;
  margin-left: 6px;
  padding-top: 9px;
  border-radius: 100%;
  background-color: #5d6779;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  text-align: center;
}

.footer-link:hover {
  background-color: #6c5c4f;
}

.field {
  width: 70%;
  height: 68px;
  margin-right: 2%;
  margin-bottom: 0px;
  padding: 12px 0px;
  float: left;
  border: 0px solid transparent;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: inset 0 -4px 0 0 #262b2f;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  color: #d3d9de;
  font-size: 26px;
}

.field:focus {
  box-shadow: inset 0 -4px 0 0 #d3d9de;
}

.form-button {
  width: 28%;
  padding: 24px 32px;
  border-radius: 5px;
  background-color: #262b2f;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #5d6779;
  font-size: 24px;
}

.form-button:hover {
  background-color: #d3d9de;
}

.form-wrapper {
  margin-bottom: 0px;
}

.success {
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 5px;
  background-color: #d3d9de;
  text-align: center;
}

@media (max-width: 991px) {
  .header {
    background-position: 170% 100%, 0% 0%;
  }
  .app-button.buy {
    margin-left: 10px;
    padding: 5px 9px;
  }
  .subtitle {
    margin-bottom: 52px;
  }
  .push-down-column {
    padding-top: 0px;
  }
  .image-crop {
    height: 605px;
  }
  .buy-title {
    font-size: 26px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 39px 10px 405px;
    background-position: 0% 174%, 0% 0%;
  }
  .logo-wrapper {
    margin-bottom: 37px;
  }
  .main-subtitle {
    width: 84%;
    margin-bottom: 41px;
  }
  .app-button {
    margin-bottom: 14px;
  }
  .app-button.buy {
    margin-right: 13px;
    margin-left: 13px;
  }
  .section {
    padding-top: 42px;
    padding-bottom: 42px;
    text-align: center;
  }
  .section.grey.buy {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .section.map {
    padding-top: 52px;
    padding-bottom: 52px;
  }
  .section.footer {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .section.sign-up {
    padding-right: 10px;
    padding-left: 10px;
  }
  .center-title {
    padding-right: 10px;
    padding-left: 10px;
  }
  .subtitle.location {
    width: auto;
    margin-right: 20%;
    margin-bottom: 27px;
    margin-left: 20%;
  }
  .line {
    display: block;
    margin: 32px auto;
  }
  .image-crop {
    height: auto;
    margin-bottom: 0px;
  }
  .buy-title {
    margin-bottom: 31px;
  }
  .align-right {
    text-align: center;
  }
  .map-icon {
    position: static;
  }
  .footer-right-col {
    text-align: center;
  }
  .footer-logo {
    margin-top: -1px;
    margin-right: 0px;
    margin-bottom: 8px;
    float: none;
  }
  .footer-text {
    margin-bottom: 22px;
  }
  .image {
    width: 269px;
  }
  .field {
    width: 50%;
    font-size: 22px;
  }
  .form-button {
    width: 48%;
  }
}

@media (max-width: 479px) {
  .header {
    padding-bottom: 506px;
    background-position: 0% 117%, 0% 0%;
  }
  .section.sign-up {
    padding-top: 39px;
    padding-bottom: 39px;
  }
  .field {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 15px;
    text-align: center;
  }
  .form-button {
    width: 100%;
  }
}

